USE [LIBRARY]
GO
/****** Object:  StoredProcedure [dbo].[LIBRI_SELECTONE]    Script Date: 7/26/2022 10:00:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[LIBRI_SELECTONE]
(
	@CodiceLibro int
)
AS
BEGIN
	SELECT * 
	FROM LIBRI
	WHERE CodiceLibro = @CodiceLibro
END
GO
