USE [LIBRARY]
GO
/****** Object:  StoredProcedure [dbo].[UTENTI_ABILITATO]    Script Date: 7/26/2022 10:00:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[UTENTI_ABILITATO]
(
	@email varchar(50)
)
as
begin
	select *
	from UTENTI
	where email=@email
		and abilitato=1
end
GO
