USE [LIBRARY]
GO
/****** Object:  StoredProcedure [dbo].[UTENTI_INSERT]    Script Date: 7/26/2022 10:00:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UTENTI_INSERT]
(
	@email nvarchar(50),
	@password nvarchar(50)
)
as
begin
	INSERT INTO UTENTI (abilitato, email, password)
	VALUES (0, @email, @password)
end
GO
