USE [LIBRARY]
GO
/****** Object:  StoredProcedure [dbo].[GENERI_SELECTFORDDL]    Script Date: 7/26/2022 10:00:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GENERI_SELECTFORDDL]

AS
BEGIN
	select CodiceGenere,
	DescrizioneGenere
	from GENERI
END
GO
