USE [LIBRARY]
GO
/****** Object:  StoredProcedure [dbo].[GENERI_INSERT]    Script Date: 7/26/2022 10:00:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GENERI_INSERT]
(
	@DescrizioneGenere nvarchar(50)
)
AS
BEGIN
	INSERT INTO GENERI
	values(@DescrizioneGenere)
END
GO
