USE [LIBRARY]
GO
/****** Object:  StoredProcedure [dbo].[UTENTI_UPDATE]    Script Date: 7/26/2022 10:00:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UTENTI_UPDATE]
(
	@CodiceUtente int,
	@TipologiaUtente char(1),
	@Abilitato bit
)
	
AS
BEGIN
	UPDATE UTENTI
	SET TipologiaUtente = @TipologiaUtente, Abilitato = @Abilitato
	WHERE CodiceUtente = @CodiceUtente
END
GO
