USE [LIBRARY]
GO
/****** Object:  StoredProcedure [dbo].[UTENTI_SELECTONE]    Script Date: 7/26/2022 10:00:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UTENTI_SELECTONE]
(
	@CodiceUtente int
)
AS
BEGIN
	SELECT * from UTENTI where CodiceUtente=@CodiceUtente
END
GO
