USE [LIBRARY]
GO
/****** Object:  StoredProcedure [dbo].[GENERI_CHECKONE]    Script Date: 7/26/2022 10:00:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GENERI_CHECKONE]
(
	@DescrizioneGenere nvarchar(50)
)
AS
BEGIN
	SELECT * FROM GENERI
	WHERE DescrizioneGenere = @DescrizioneGenere
END
GO
