USE [LIBRARY]
GO
/****** Object:  StoredProcedure [dbo].[UTENTI_UPDATE_ABILITATO]    Script Date: 7/26/2022 10:00:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UTENTI_UPDATE_ABILITATO]
(
	@Abilitato bit,
	@CodicePersonale int,
	@CodiceUtente int
)
AS
BEGIN
	UPDATE UTENTI SET Abilitato=@Abilitato, CodicePersonale=@CodicePersonale where CodiceUtente=@CodiceUtente
END
GO
