USE [LIBRARY]
GO
/****** Object:  StoredProcedure [dbo].[GENERI_UPDATE]    Script Date: 7/26/2022 10:00:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GENERI_UPDATE]
(
	@CodiceGenere int,
	@DescrizioneGenere nvarchar(50)
)
AS
BEGIN
	UPDATE GENERI
	SET DescrizioneGenere = @DescrizioneGenere
	WHERE CodiceGenere = @CodiceGenere
END
GO
