USE [LIBRARY]
GO
/****** Object:  StoredProcedure [dbo].[LIBRI_UPDATE]    Script Date: 7/26/2022 10:00:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[LIBRI_UPDATE]
(
	@CodiceLibro int,
	@CodiceGenere int,
	@Titolo nvarchar(50),
	@Autore nvarchar(50),
	@Sinossi nvarchar(50),
	@Copertina varbinary(max),
	@DataPrestito date,
	@Available bit
)
AS
BEGIN
	UPDATE LIBRI 
	SET CodiceGenere = @CodiceGenere, Titolo = @Titolo, Autore = @Autore, Sinossi = @Sinossi,
	Copertina = @Copertina, DataPrestito = @DataPrestito, Available = @Available
	WHERE CodiceLibro = @CodiceLibro
END
GO
