USE [LIBRARY]
GO
/****** Object:  StoredProcedure [dbo].[GENERI_SELECTALL]    Script Date: 7/26/2022 10:00:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GENERI_SELECTALL]

AS
BEGIN
	SELECT * FROM GENERI
END
GO
