USE [LIBRARY]
GO
/****** Object:  StoredProcedure [dbo].[LIBRI_INSERT]    Script Date: 7/26/2022 10:00:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[LIBRI_INSERT]
(
	@CodiceGenere int,
	@Titolo nvarchar(50),
	@Autore nvarchar(50),
	@Sinossi nvarchar(50),
	@Copertina varbinary(50),
	@DataPrestito date,
	@Available bit
)
AS
BEGIN
	INSERT INTO LIBRI
	values(@CodiceGenere, @Titolo, @Autore, @Sinossi, @Copertina, @DataPrestito, @Available)
END
GO
