USE [LIBRARY]
GO
/****** Object:  StoredProcedure [dbo].[UTENTI_GETUSERTYPE]    Script Date: 7/26/2022 10:00:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UTENTI_GETUSERTYPE]
(
	@email nvarchar(50)
)
AS
BEGIN
	SELECT TipologiaUtente from UTENTI where email=@email
END
GO
