USE [LIBRARY]
GO
/****** Object:  Table [dbo].[GENERI]    Script Date: 7/26/2022 10:00:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GENERI](
	[CodiceGenere] [int] IDENTITY(1,1) NOT NULL,
	[DescrizioneGenere] [nvarchar](50) NULL
) ON [PRIMARY]
GO
