USE [LIBRARY]
GO
/****** Object:  Table [dbo].[LIBRI]    Script Date: 7/26/2022 10:00:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIBRI](
	[CodiceLibro] [int] IDENTITY(1,1) NOT NULL,
	[CodiceGenere] [int] NULL,
	[Titolo] [nvarchar](50) NULL,
	[Autore] [nvarchar](50) NULL,
	[Sinossi] [nvarchar](50) NULL,
	[Copertina] [varbinary](max) NULL,
	[DataPrestito] [date] NULL,
	[Available] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
